
#container{
    background-color: rgb(34, 34, 127);
    margin:100px;
    margin-left:300px;
    padding:10px;
    display:flex;
    justify-content: space-around;
    height:300px;
    width:500px;
    color:white;
    
}
#count{
    text-align:center;
    color:red;
    background-color: black;
    font-size: 50px;
}
#counter{
    text-align:center;
    color:red;
    background-color: black;
    font-size: 50px;
}
  #add1{
    background-color: rgb(34, 34, 127);
    color:white;
    border-color:white;
    border-radius:3px;
}
#add2{
    background-color:rgb(34, 34, 127);
    color:white;
   border-color:white;
   border-radius:3px;
}
#add3{
    background-color:rgb(34, 34, 127);
    color:white;
   border-color:white;
   border-radius:3px;
}
#sum1{
    background-color:rgb(34, 34, 127);
    color:white;
   border-color:white;
   border-radius:3px;
}
#sum2{
    background-color:rgb(34, 34, 127);
    color:white;
   border-color:white;
   border-radius:3px;
}
#sum3{
    background-color:rgb(34, 34, 127);
    color:white;
   border-color:white;
   border-radius:3px;
}

 